* {
  transition: all .3s ease;
  user-select: none;
  font-family: 'Bebas Neue', cursive;
}

body {
  background-image: url(../../src/imgs/gif.gif);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0)
      }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}

.fa-volume-up{
  font-size: 2em;
  color: #fff;
}

.fa-volume-mute {
  font-size: 2em;
  color: #fff;
}

.container-imagen {
text-align: center;
}

.snk-logo {
height: 167px;
}

.jugadas {
  display: flex;
  justify-content: space-around;
}

.puntaje-maximo {
  width: 450px;
  font-size: 1.4em;
  color: #fff;
}

.intentos-texto,
.intentos-valor,
.intentos-diez {
  font-size: 1.4em;
  color: #fff;
}

#puntaje-texto {
    width: 22%;
}

#puntaje-valor,
#intentos-valor {
  width: 5%;
  font-size: 1.4em;
  background: transparent; 
  border: none;
  color: #fff;
}

.tablero-container {
  display: flex;
  justify-content: center;
}

div.cards-container {
  cursor: pointer;
  margin-top: 3px;
}

.cards-size {
  width: 130px;
  border-radius: 4px;
}

.card-back {
  transform: rotateY(360deg);
}

.mensaje-container {
  display: flex;
  justify-content: center;
}

#mensaje {
  margin-top: 12px;
  font-size: 1.4em;
  color: white
}

.github {
  display: none
}

@media screen and (max-width: 576px) {
    .jugadas {
        text-align: center;
    }
    img.cards-size {
      width: 90px;
    }
    .github-corner {
      display: none;
    }
    #puntaje-valor,
    #intentos-valor {
      width: 6%
    }
    #puntaje-texto {
      width: 25%;
    }
    .github a {
    text-decoration: none;
    }
    .github {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    }
    .fa-github {
      color: #fff;
      font-size: 2em;
    }
}

/* @media screen and (max-width: 767px) {
    #puntaje-texto {
      width:25%
    }
} */